[submodule "libbutl"]
	path = libbutl
	url = ../libbutl.git
[submodule "build2"]
	path = build2
	url = ../build2.git
[submodule "libbpkg"]
	path = libbpkg
	url = ../libbpkg.git
[submodule "bpkg"]
	path = bpkg
	url = ../bpkg.git
[submodule "bdep"]
	path = bdep
	url = ../bdep.git
[submodule "doc/style"]
	path = doc/style
	url = ../style.git
[submodule "submodules/libbuild2-kconfig"]
	path = submodules/libbuild2-kconfig
	url = https://github.com/build2/libbuild2-kconfig.git
[submodule "submodules/libbuild2-autoconf"]
	path = submodules/libbuild2-autoconf
	url = https://github.com/build2/libbuild2-autoconf.git
