[submodule "libbutl"]
	path = libbutl
	url = ../libbutl.git
	branch = 0.6
[submodule "build2"]
	path = build2
	url = ../build2.git
	branch = 0.6
[submodule "libbpkg"]
	path = libbpkg
	url = ../libbpkg.git
	branch = 0.6
[submodule "bpkg"]
	path = bpkg
	url = ../bpkg.git
	branch = 0.6
[submodule "doc/style"]
	path = doc/style
	url = ../etc/style.git
[submodule "libsqlite3"]
	path = libsqlite3
	url = http://git.build2.org/packaging/sqlite/libsqlite3.git
	update = none
[submodule "libodb"]
	path = libodb
	url = http://scm.codesynthesis.com/odb/libodb.git
	update = none
[submodule "libodb-sqlite"]
	path = libodb-sqlite
	url = http://scm.codesynthesis.com/odb/libodb-sqlite.git
	update = none
