[submodule "libbutl"]
	path = libbutl
	url = ../libbutl.git
[submodule "build2"]
	path = build2
	url = ../build2.git
[submodule "libbpkg"]
	path = libbpkg
	url = ../libbpkg.git
[submodule "bpkg"]
	path = bpkg
	url = ../bpkg.git
[submodule "bdep"]
	path = bdep
	url = ../bdep.git
[submodule "doc/style"]
	path = doc/style
	url = ../style.git
[submodule "libodb"]
	path = libodb
	url = https://scm.codesynthesis.com/odb/libodb.git
	update = none
[submodule "libodb-sqlite"]
	path = libodb-sqlite
	url = https://scm.codesynthesis.com/odb/libodb-sqlite.git
	update = none
[submodule "submodules/sqlite"]
	path = submodules/sqlite
	url = https://git.build2.org/packaging/sqlite/sqlite.git
	update = none
[submodule "submodules/pkgconf"]
	path = submodules/pkgconf
	url = https://git.build2.org/packaging/pkgconf/pkgconf.git
	update = none
[submodule "submodules/libbuild2-kconfig"]
	path = submodules/libbuild2-kconfig
	url = https://github.com/build2/libbuild2-kconfig.git
